%link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/stylesheets/siret.css.scss"}
.site-wrapper
  .site-wrapper-inner
    .cover-container
      .inner.cover
        %h1.cover-heading Minimis
        %p.lead Entrez votre Siret pour récupérer vos aides publiques perçues
        %p.lead
        = form_tag(url_for({controller: :display_info, action: :update}), class: 'form-inline', method: 'PATCH') do |f|
          .form-group.form-group-lg
            = text_field_tag :siret, nil, :class => "form-control", :placeholder => "Entrez votre Siret", :id => "siret_entreprise_input"
            = submit_tag "Go", class: %w(btn btn-lg btn-success), data: { disable_with: "Go", submit: true}
