%table.table.table-striped
  %thead
    %tr
      %th Dossier
      %th Fond
      %th Montant
      %th Date d'attribution
  %tbody
  - subventions.each do |subvention|
    %tr
      %td
        = subvention.LibDossier
      %td
        = subvention.LibelleFonds
      %td.col-md-2
        = number_to_currency(subvention.montant_aide_publique, locale: :fr, unit: '€', format: "%n %u")
      %td.col-md-1
        = subvention.date_fist_comite
